<div id="disqus_thread"></div>

<div class="container-example">
    <div id="social-1"></div>
</div>

<script type="text/javascript">
    var disqus_shortname = 'venkadaria'; 
    (function() {
        var dsq = document.createElement('script'); 
		dsq.type = 'text/javascript'; 
		dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
	
	document.addEventListener('DOMContentLoaded', DOMready);
    function DOMready() {
      var options = {
        services: ['vkontakte', 'facebook', 'googleplus', 'odnoklassniki', 'twitter', 'lj', 'moimir', 'linkedin'],
        id: 'social-1',
        counter: true,
        components: ['icon', 'count'],
        title: 'Рассказать',
        callbacks: {
          create: function(data) {
            console.log('create self', data.self);
            console.log('create options', data.options);
          },
          share: function(data) {
            console.log('share self', data.self);
            console.log('share service', data.service);
          }
        }
      };
      new SocialButtons(options);
    }
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>